body {
    background: 
        url('C:\Users\mateo\Desktop\ProyectAlive\images\Grain.jpg') no-repeat center center / cover, /* Overlay Image */
        radial-gradient(circle, 
            rgba(255, 240, 100, 0.6) 10%, 
            rgba(255, 130, 200, 0.6) 40%, 
            rgba(120, 90, 255, 0.6) 70%, 
            rgba(50, 220, 255, 0.6) 100%); /* Gradient */
    background-blend-mode: overlay;
    height: 100vh;
    margin: 0;
}
